player-connection-mode=Listen
player-connection-guid=4068719327
player-connection-debug=0
player-connection-project-name=FriedEgg
player-connection-ip=192.168.0.67
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=6fbd184635ac420fbde54c8471099f8b
